<strong>Olá, {{ speaker }}</strong>
<p>Um novo inscrito para o meetup, confira os detalhes abaixo:</p>
<p>
  <strong>Inscrito: </strong> {{ registered }} <br />
  <strong>Meetup: </strong> {{ meetup }} <br />
  <strong>Data: </strong> {{ date }} <br />
</p>
